<%= simple_form_for [ @user, @profile ] do |f| %>
  <div class="login-fields login-fields-for-xs">
    <h3><%= t('.title') %></h3>
    <p><%= t('.details') %></p>
    <div class="img-example-container">
      <div class="row">
        <% t('.examples').each do |x| %>
          <div class="img-examples col-4">
            <i class="fa <%= x[1][:icon] %>" style="color: <%= x[1][:color] %>"></i>
            <div class="img-example relative" style="background-image: url(<%= x[1][:photo] %>)">
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="upload-container">
      <label class="text-center fileUpload">
         <span class=""><i class="fa fa-camera upload"></i></span>
         <%= f.input :photo, as: :attachinary, label: false %>
      </label>
    </div>
  </div>
  <div class="form-actions">
    <%= f.button :submit, t('commons.button.next'), class:"login-button" %>
    <p class="text-center clickable">
      <%= link_to t('commons.button.previous'), previous_user_profile_path(@user, @profile)  %></p>
    </p>
  </div>
<% end %>

