<%= simple_form_for [ @user, @profile ] do |f| %>
  <div class="login-fields">
    <h3><%= t('inscription.screen'<<step<<'.title') %></h3>
    <p><%= t('inscription.screen'<<step<<'.details') %></p>
    <%= f.input :address, required: true, autofocus: true, as: :text, label: t('inscription.screen3.field1'), :input_html => { :rows => 2, :resize => "none" } %>
    <%= f.input :lat, as: :hidden %>
    <%= f.input :lng, as: :hidden %>
    <%= f.input :phone, required: false, label: t('inscription.screen3.field2'), placeholder: t('inscription.screen3.placeholder2') %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, "suivant", class:"login-button" %>
    <p class="text-center clickable">
      <%= link_to t('commons.button.previous'), previous_user_profile_path(@user, @profile)  %></p>
    </p>
  </div>
<% end %>
