<%= simple_form_for :profile, url: update_wishes_user_profile_path(@user, @profile), method: :get do |f| %>
  <div class="login-fields">
    <h3><%= t('.title') %></h3>
    <p><%= t('.details') %></p>
    <input type="hidden" class="boolean optional" checked="checked" id="noneed" name="profile[noneed]" value="true" />
    <% t('.fields').each_with_index do |x,index| %>
      <label class="checkbox margin-bottom-medium">
        <% if @user.wishes.where(number: index).present? %>
          <input type="checkbox" class="boolean optional" checked="checked" id="<%= x[0] %>" name="profile[need<%= index %>]" value="true" />
        <% else %>
          <input type="checkbox" class="boolean optional" id="<%= x[0] %>" name="profile[need<%= index %>]" value="true" />
        <% end %>
        <label for="<%= x[0] %>"><%= x[1] %></label>
      </label>
    <% end %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, t('commons.button.next'), class:"login-button" %>
    <p class="text-center clickable">
      <%= link_to t('commons.button.previous'), previous_user_profile_path(@user, @profile)  %></p>
    </p>
  </div>
<% end %>

