<%= simple_form_for :profile, url: update_wishes_user_profile_path(@user, @profile), method: :get do |f| %>
  <div class="login-fields">
    <h3><%= t('.title') %></h3>
    <p><%= t('.details') %></p>
    <input type="hidden" class="boolean optional" checked="checked" id="noneed" name="profile[noneed]" value="true" />
    <% Wish.all.each do |wish| %>
      <span class="checkbox margin-bottom-medium">
        <input type="checkbox" class="boolean optional" <%= @profile.wishes.include?(wish) ? 'checked="checked"' : "" %> id="<%= wish.number %>" name="profile[need<%= wish.number %>]" value="true" />
        <label for="<%= wish.number %>"><%= wish.name %></label>
      </span>
    <% end %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, t('commons.button.next'), class:"login-button" %>
    <p class="text-center clickable">
      <%= link_to t('commons.button.previous'), previous_user_profile_path(@user, @profile)  %></p>
    </p>
  </div>
<% end %>

