<div class="mailer-preview-frame black-on-white">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <%= cl_image_tag ("parentheze/Parentheze_logo_black.svg"), class:"mailer-preview-logo" %>
      </div>
      <div class="col-12 col-md-12 separator-vertical">
        <%= cl_image_tag ("parentheze/inscription_exemple_04.jpg"), class:"mailer-preview-portrait" %>
        <%= cl_image_tag ("parentheze/invitation_bubble.png"), class:"mailer-preview-bubble" %>
      </div>
      <div class="col-12 col-md-12 col-lg-12 col-xl-9 separator-vertical text-right">
        <%= cl_image_tag ("parentheze/invitation_bubble_2.png"), class:"mailer-preview-bubble" %>
      </div>

      <div class="col-12 col-md-12 col-lg-12 col-xl-9">
        <div class="bar-separator"></div>
      </div>

      <div class="col-12 col-md-12 col-lg-12 col-xl-9 separator-vertical">
        <h3 class="separator-vertical"><%= "Maxime et Juliette " + t('.title') %></h3>
        <p class="separator-vertical"><%= t('.text1') %></p>
        <p class="separator-vertical"><%= t('.text2') %></p>
      </div>

      <div class="col-12 col-md-12 col-lg-12 col-xl-9 separator-vertical">
      <%= link_to t('.btn_text'), "https://www.parentheze.com", class:"btn btn-blue separator-vertical" %>
      </div>
      <div class="mailer-preview-bar separator-vertical"></div>

      <div class="col-12 col-md-12 col-lg-12 col-xl-9 ">
        <h5><%= t('.footer.line1') %></h5>
      </div>
    </div>
  </div>
</div>
