<div class="profile-detailed col-12 col-md-8 col-lg-8 col-xl-9">
  <div class="row">
    <div class="col-12">
      <h5><%= @profile.user == current_user ? t('.column-title-self') : t('.column-title') %></h5>
    </div>
    <div class="col-12">
      <div class="page-wrapper black-on-white margin-bottom-big relative">
        <%= render "shared/button_close" %>
          <div class="container">
            <div class="row">
              <div class="col-6 margin-bottom-big text-center">
                <%= cl_image_tag @profile.photo.path, id:"photo" %>
              </div>

              <div class="col-6">
                <h3><%= @profile.names %></h3>
                <p><%= @profile.kids %> enfants</p>
                <p>situés à 200 m</p>
                <p class="green">Bonne Réputation</p>
              </div>

              <div class="col-12">
                <h4><%= t('.description') %></h4>
                <%= simple_form_for [ @user, @profile ] do |f| %>
                  <%= f.input :comment, label: false, id: "textarea", as: :text,
                                                                      input_html: { cols: 5,
                                                                      rows: 5,
                                                                      placeholder: t('.message.placeholder'),
                                                                      resize: "none",
                                                                      value: @profile.comment || "" } %>
                  <%= f.submit t('.save_description'), class:"btn btn-blue margin-bottom-big" %>
                <% end %>

                <%= simple_form_for :profile, url: update_wishes_user_profile_path(@user, @profile), method: :get do |f| %>
                  <h4 class="margin-bottom-medium"><%= t('.needs') %></h4>
                  <% t('profiles.form4.fields').each_with_index do |x,index| %>
                    <label class="checkbox margin-bottom-medium">
                      <% if @profile.wishes.where(number: index).present? %>
                        <input type="checkbox" class="boolean optional" checked="checked" id="<%= x[0] %>" name="profile[need<%= index %>]" value="true" />
                      <% else %>
                        <input type="checkbox" class="boolean optional" id="<%= x[0] %>" name="profile[need<%= index %>]" value="true" />
                      <% end %>
                      <label for="<%= x[0] %>"><%= x[1] %></label>
                    </label>
                  <% end %>
                  <%= f.submit t('.save_needs'), class:"btn btn-blue margin-bottom-big" %>
                <% end %>


                <%= simple_form_for [ @user, @profile ] do |f| %>
                  <h4 class="margin-bottom-medium"><%= t('.photo') %></h4>
                  <div class="upload-container margin-bottom-big">
                    <label class="text-center fileUpload">
                       <span class=""><i class="fa fa-camera upload"></i></span>
                       <%= f.input :photo, as: :attachinary, label: false %>
                    </label>
                  </div>

                  <%= f.submit t('.save_photo'), class:"btn btn-blue margin-bottom-big" %>
                <% end %>
              </div>

              <div class="col-12">
                <h4 class="margin-bottom-medium"><%= t('.favorites') %></h4>
                <% @profile.favorites.each do |fav| %>
                  <div class="favorites-list">
                    <%= cl_image_tag Profile.find(fav.favorite).photo.path %>
                    <h4><%= Profile.find(fav.favorite).names %></h4>
                    <h4><%= "200m" %></h4>
                  </div>
                <% end %>
              </div>

            </div>
          </div>


        <div class="col-12">
          <%#= link_to t('.btn_text2'), add_friends_user_profile_path(@user, @profile), class:"btn btn-green" %>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
