<%= simple_form_for :profile, url: request_update_user_profile_path(profile.user, profile), method: :get do |f| %>
  <div class="card">
    <p><%= t('.card_title') %></p>
    <div class="row margin-bottom-medium">
      <div class="col-xs-12 col-md-9">
        <div class="row">
          <div class="col-xs-12 col-md-4 ">
            <label class="checkbox">
              <input type="checkbox" class="boolean optional" id="parent1-<%= profile.id %>" name="parent1" value="true" />
            <label for="parent1-<%= profile.id %>"><p><%= t('.field1') %></p></label>
            </label>
          </div>
          <div class="col-xs-12 col-md-4 ">
            <p class="align-to-checkbox"><%= profile.parent1 %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-4 ">
            <label class="checkbox">
              <input type="checkbox" class="boolean optional" id="parent2-<%= profile.id %>" name="parent2" value="true" />
            <label for="parent2-<%= profile.id %>"><p><%= t('.field2') %></p></label>
            </label>
          </div>
          <div class="col-xs-12 col-md-4 ">
            <p class="align-to-checkbox"><%= profile.parent2 %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-4 ">
            <label class="checkbox">
              <input type="checkbox" class="boolean optional" id="kids-<%= profile.id %>" name="kids" value="true" />
            <label for="kids-<%= profile.id %>"><p><%= t('.field3') %></p></label>
            </label>
          </div>
          <div class="col-xs-12 col-md-4 ">
            <p class="align-to-checkbox"><%= profile.kids %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-4 ">
            <label class="checkbox">
              <input type="checkbox" class="boolean optional" id="address-<%= profile.id %>" name="address" value="true" />
            <label for="address-<%= profile.id %>"><p><%= t('.field4') %></p></label>
            </label>
          </div>
          <div class="col-xs-12 col-md-4 ">
            <p class="align-to-checkbox"><%= profile.address %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-4 ">
            <label class="checkbox">
              <input type="checkbox" class="boolean optional" id="phone-<%= profile.id %>" name="phone" value="true" />
            <label for="phone-<%= profile.id %>"><p><%= t('.field5') %></p></label>
            </label>
          </div>
          <div class="col-xs-12 col-md-4 ">
            <p class="align-to-checkbox"><%= profile.phone %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-12 ">
            <p><%= t('.field6') %></p>
            <div class="row">
            <% profile.wishes.each do |wish| %>
              <div class="col-xs-12 col-md-3">
                <p><%= wish.name %></p>
              </div>
            <% end %>
            </div>
          </div>
          <div class="col-xs-12 col-md-4 ">
            <p></p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-3">
      <% if profile.photo? %>
        <%= cl_image_tag profile.photo.path, width: 225, height: 150, crop: :fill %>
      <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-3">
        <%= link_to t('.btn_text1'), validate_user_profile_path(profile.user, profile), class:"btn btn-green" %>
      </div>
      <div class="col-xs-12 col-md-3">
        <%= f.button :submit, t('.btn_text2'), class:"btn btn-orange" %>
      </div>
    </div>
  </div>
<% end %>
