<div class="flex-parent"> <!-- for IE bug -->
  <div class="fullscreen relative white-on-purple mosaic">
     <%= render "shared/buttons", mosaic: true, action: true %>
    <div class="container">
      <div class="row">
        <%= render "header" %>
        <%= render "self_profile" %>
        <div class="col-12 col-md-8 col-lg-8 col-xl-9">
          <div class="row">
            <div class="col-12">
              <h5><%= t('.column-title') %></h5>
            </div>
            <div class="col-12">
              <div class="page-wrapper black-on-white margin-bottom-big relative">
                <%= render "shared/button_close" %>
                <div class="container">
                  <div class="row">
                    <div class="col-12">
                      <h3><%= t('.title') %></h3>
                    </div>
                    <div class="col-12">
                      <p><%= t('.text_html') %></p>
                    </div>
                    <div class="col-12 margin-bottom-big text-center">
                      <%= cl_image_tag "parentheze/cards_invitations.png", width:400, crop:"scale", class:"img-responsive" %>
                    </div>
                  </div>
                </div>
                <div class="margin-bottom-big">
                  <%= render "shared/mini_form", content: { path: ask_for_cards_path, placeholder: t('.placeholder'), value:"", btn_text: t('.btn_text') } %>
                </div>
                <div class="col-12">
                  <h3 class="margin-bottom-small"><%= t('.title2') %></h3>
                </div>
                <div class="col-12">
                  <%= link_to t('.btn_text2'), add_friends_user_profile_path(@user, @profile), class:"btn btn-green" %>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

