<div class="flex-parent"> <!-- for IE bug -->
  <div class="fullscreen relative flexbox text-left" style="background-image: url('http://res.cloudinary.com/doodlid/image/upload/v1516868696/parentheze/inscription_background.jpg')" id="">
    <div class="parentheze-login">
      <h4><%= t('inscription.title') %></h4>
      <% if @step < 6 %>
        <div class="breadcrumb">
          <div class="center flex-line">
            <% (1..5).each do |x| %>
              <div class="step flexbox <%= "active" if x == @step %>"><%= x %></div>
            <% end %>
          </div>
        </div>
      <% end %>

      <% %w(1 2 3 4 5).each do |step| %>
        <% if @step == step.to_i %>
          <%= simple_form_for [ @user, @profile ] do |f| %>
            <div class="login-box">
              <h3><%= t('inscription.screen'<<step<<'.title') %></h3>
              <p><%= t('inscription.screen'<<step<<'.details') %></p>
              <%= render 'form'+step, f: f %>
              <div class="form-actions">
                <%= f.button :submit, "suivant", class:"login-button" %>
                <p class="text-center clickable">
                  <% if @step == 2 %>
                    <%= link_to t('commons.button.previous'), edit_user_registration_path %>
                  <% else %>
                    <%= link_to t('commons.button.previous'), previous_user_profile_path(@user, @profile)  %></p>
                  <% end %>
                </p>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>

    </div>
  </div>
</div>

