<% content_for(:title_tag) { t('.title') } %>

<div class="flex-parent"> <!-- for IE bug -->
  <div class="fullscreen relative white-on-purple mosaic">
    <%= render "shared/buttons", mosaic: false, action: true %>
    <div class="container">
      <div class="row">
        <%= render "header" %>
        <%= render "self_profile" %>
        <%= render "profile" %>
      </div>
    </div>
  </div>
</div>
<%= render "shared/over_footer" %>
