<%= content_for :title_tag do t('.title') end %>

<div class="dashboard">
  <div class="container">
    <div class="row margin-bottom-small">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p class="white"><%= t('.title') %></p>
      </div>
    </div>
    <div class="row margin-bottom-medium">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card with-max-height">
          <h5>Visiteurs uniques sur le formulaire:</h5>
          <h2><%= @guestcount %></h2>
          <h5></h5>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card with-max-height">
          <h5>Visiteurs uniques sur la home :</h5>
          <h2 class="pink"><%= @visits %></h2>
          <h6><%= @visitors_p %>%</h6>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card with-max-height">
          <h5>Nbre moyen de visite par visiteur :</h5>
          <h2 class="blue"><%= @average_visits %></h2>
          <h6>(visiteur parent sur page d'accueil)</h6>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card with-max-height">
          <h5>Parents :</h5>
          <h2 class="yellow"><%= @parents %>%</h2>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card with-max-height">
          <h5>Formulaires parcourus jusqu'à la fin:</h5>
          <h2 class="pink"><%= @form_completed_p %>%</h2>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="card with-max-height">
          <h5>Steps (only by clic):</h5>
          <div class="step-diag-wrapper">
            <% 5.times do |x| %>
              <div class="step-diag" style="height: <%= 1*@guest_steps[x] %>px"><%= @guest_steps[x] %>%</div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p class="white">Chiffres brutes</p>
      </div>
    </div>
    <div class="row margin-bottom-medium">
      <% @questions.each do |question| %>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
          <div class="card">
            <p><%= question[1][:title] %></p>
            <% question[1][:answers].each_with_index do |answer, index| %>
              <div class="label">
                <span>... <%= answer[1][:text] %></span>
                <span><strong><%= ((@guests.parenting.where(question[1][:data].to_sym => index+1).count)*100)/(@parentcount) %>%</strong></span>
              </div>
            <% end %>

            <div class="label">
              <span>... rien </span>
              <span><strong><%= ((@guests.parenting.where(question[1][:data].to_sym => nil).count)*100)/(@parentcount) %>%</strong></span>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p class="white">Personas</p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="label green">
            <div>
              <% ["1","2","3"].each do |x| %>
                <div class="flex-line flex-left margin-top-bot"><i class="<%= t('.stats.charac.char'+x+'.icon') %> pastille pastille-small flexbox"></i>  <%= t('.stats.charac.char'+x+'.text') %></div>
              <% end %>
            </div>
            <div class="flexbox">
              <h2><%= @target1 %>%</h2>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="label text-left green">
            <div>
              <% ["3","4"].each do |x| %>
                <div class="flex-line flex-left margin-top-bot"><i class="fa fa-<%= t('.stats.charac.char'+x+'.icon') %> pastille pastille-small flexbox"></i>  <%= t('.stats.charac.char'+x+'.text') %></div>
              <% end %>
            </div>
            <div class="flexbox">
              <h2><%= @target2 %>%</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
