<% content_for :title_tag do t('survey.title') end %>

<div class="survey">
  <div class="breadcrumb">
    <div class="center flexbox">
      <% @breadcrumb_length.times do |x| %>
        <div class="step flexbox" id="breadcrumb-question<%= x+1 %>"><%= x+1 %></div>
      <% end %>
    </div>
  </div>
    <% t('survey.questions').each do |question| %>
      <div id="<%= question[0] %>">
        <div class="fullscreen under-breadcrumb flexbox">
          <div class="survey-block">
            <%= image_tag(question[1][:picture], class:"slideLeft") if question[1][:picture] %>
            <h1 class="margin-bottom-medium slideLeft relative"><i class="fa fa-<%= question[1][:picto] || nil %> bounce"></i> <%= question[1][:title] %></h1>
            <h3 class="margin-bottom-medium slideLeft"><%= question[1][:subtitle] %></h3>
            <% question[1][:answers].each_with_index do |answer, x| %>

              <%= simple_form_for :guest, method: :patch do |f| %>
                <% if question[1][:data] != "none" %>
                  <%= f.input_field question[1][:data], as: :hidden, value: x+1 %>
                  <%= f.button :submit, value: answer[1][:text], label: false, class:"answer #{question[1][:button_effect]} delay#{x.to_s} btn wrap tall btn-#{x.to_s} flexbox center margin-bottom-medium", id:answer[0], goto: answer[1][:link]  %>
                <% else %>
                  <div class="answer <%= question[1][:button_effect] %> delay<%= x.to_s %> btn wrap tall btn-<%= x.to_s %> flexbox center margin-bottom-medium", id=<%= answer[0] %>, goto=<%= answer[1][:link] %>><%= answer[1][:text] %></div>
                <% end %>
              <% end %>

            <% end %>
          </div>
        </div>
      </div>
  <% end %>
</div>

<% content_for(:after_js) do %>
  <script>
    $(document).ready(function(){
      // INIT
      var current_question = 1
      $('#breadcrumb-question'+current_question).addClass('active');

      for (i = 1; i <= <%= @questions_number %> ; i++) {
        $('#question'+i).hide();
      }

      $('#question1').show();

      // ON ANSWER
      $('.answer').click(function(e){
        if ($(this).attr("goto").length > 4) {
          window.open($(this).attr("goto"));
        }
        else {
          $('#question'+current_question).hide();
          $('#breadcrumb-question'+current_question).removeClass('active');
          current_question = $(this).attr("goto");
          $('#question'+current_question).show();
          $('#breadcrumb-question'+current_question).addClass('active');
        }
      });
    });
  </script>
<% end %>
