<% content_for(:title_tag) { t('.title') } %>

<div class="survey">
  <%= render "shared/breadcrumb", step: @current_question.to_i , length: @breadcrumb_length %>
    <div class="fullscreen under-breadcrumb flexbox">
      <div class="survey-block">
        <div style="background-image: url(<%= @question[:picture] || "" %>)" class="<%= "img-anim" if @question[:picture] %> slideLeft delay0"></div>
        <h1 class="margin-bottom-medium slideLeft relative"><i class="<%= @question[:picto] || nil %> bounce"></i> <%= @question[:title] %></h1>
        <h3 class="margin-bottom-medium slideLeft"><%= @question[:subtitle] %></h3>
        <% @question[:answers].each_with_index do |answer, x| %>
          <%= simple_form_for :guest, method: :patch do |f| %>
            <% if @question[:data] != "none" %>
              <%= f.input_field @question[:data], as: :hidden, value: x+1 %>
              <%= f.input_field :form_step,  as: :hidden, value: answer[1][:link] %>
              <%= f.button :submit, value: answer[1][:text], label: false, class:"answer btn-tall #{@question[:button_effect]} delay#{x.to_s} btn btn-wrap btn-tall btn-#{x.to_s} flexbox center margin-bottom-medium", remote: true, id:answer[0], goto: answer[1][:link], data: { disable_with: "" }  %>
            <% else %>
              <%= link_to answer[1][:text],answer[1][:link], :class => "answer #{@question[:button_effect]} delay#{x.to_s} btn btn-wrap btn-tall btn-#{x.to_s} center margin-bottom-medium" %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
</div>

