<div class="flex-parent"> <!-- for IE bug -->
  <div class="fullscreen relative flexbox text-left" style="background-image: linear-gradient(0deg, rgba(10,10,10,0.5) 0%, rgba(10,10,10,0.5) 100%), url(<%= t('profiles.shared.inscription-bg') %>)">

    <div class="parentheze-login">
      <h4><%= t('inscription.title') %></h4>
      <% if @user.step != 10 %>
        <div class="breadcrumb">
          <div class="center flex-line">
            <% (1..5).each do |x| %>
              <div class="step flexbox <%= 'active' if x == 1 %>" id="breadcrumb-question<%= x %>"><%= x %></div>
            <% end %>
          </div>
        </div>
      <% end %>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>
        <div class="login-box">
          <div class="login-fields-tall">
            <h3><%= t('.title') %></h3>
            <p><%= t('.details') %></p>

            <%= f.input :email, required: true, autofocus: true %>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>
                <%= t(".currently_waiting_confirmation_for_email", email: resource.unconfirmed_email) %>
              </p>
            <% end %>
            <%= f.input :current_password, required: true, label: t('.field6'), placeholder: t('.placeholder1') %>

            <%= f.input :password, autocomplete: "off", required: false, label: t('.field4'), placeholder: t('.placeholder2') %>
            <%= f.input :password_confirmation, required: false, label: t('.field5'), placeholder: t('.placeholder2') %>
          </div>
          <div class="form-actions text-center">
            <%= f.button :submit, "suivant", class:"margin-bottom-small" %>
            <% if @user.step == 10 %>
              <p><%= link_to t(".cancel_my_account"), registration_path(resource_name), data: { confirm: t(".are_you_sure") }, method: :delete, class:"red" %></p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>



