<div class="flex-parent"> <!-- for IE bug -->
  <div class="fullscreen relative flexbox text-left" style="background-image: linear-gradient(0deg, rgba(10,10,10,0.5) 0%, rgba(10,10,10,0.5) 100%), url(<%= t('profiles.shared.inscription-bg') %>)">

    <div class="parentheze-login">
      <h4><%= t('.maintitle') %></h4>
      <div class="breadcrumb">
        <div class="center flex-line">
          <% @breadcrumb_length = 5 %>
          <% (1..@breadcrumb_length).each do |x| %>
            <div class="step flexbox <%= 'active' if x == 1 %>" id="breadcrumb-question<%= x %>"><%= x %></div>
          <% end %>
        </div>
      </div>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="login-box">
          <h3><%= t('.maintitle') %></h3>
          <p><%= t('.details') %></p>
          <%= f.input :email, required: true, autofocus: true, label: t('.field1'), input_html: {value: session[:email] || "" } %>
          <%= f.input :password, required: true, label: t('.field2') %>
          <%= f.input :password_confirmation, required: true, label: t('.field3') %>
          <div class="form-actions">
            <%= f.button :submit, "suivant", class:"margin-bottom-small" %>
            <p class="text-center"><%= link_to t('.addon'), new_user_session_path %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>



