<div style="font-size:16px;min-width:100%;font-weight:normal;padding:0;margin:0;line-height:1.3;color:#7E7E7E;text-align:left;width:100%!important;">
  <table style="border-spacing:0;border-collapse:collapse;vertical-align:top;font-weight:normal;margin:0;text-align:left;font-size:16px;line-height:19px;background:#f3f3f3;padding:0;width:100%;min-height:100%;color:#0a0a0a;margin-bottom:0px!important;background-color:white;">
      <tbody>
        <tr style="padding:0;vertical-align:top;text-align:left;">
        <td align="center" valign="top" style="font-size:16px;word-wrap:break-word;vertical-align:top;text-align:left;line-height:1.3;color:#0a0a0a;padding:0;margin:0;font-weight:normal;border-collapse:collapse!important;">
          <center style="width:100%;min-width:580px;">
            <table style="border-spacing:0;border-collapse:collapse;padding:0;vertical-align:top;background:#fefefe;width:580px;margin:0 auto;text-align:inherit;max-width:580px;">
              <tbody>
                <tr style="padding:0;vertical-align:top;text-align:left;">
                  <td style="font-size:16px;word-wrap:break-word;vertical-align:top;text-align:left;line-height:1.3;color:#0a0a0a;padding:0;margin:0;font-weight:normal;border-collapse:collapse!important;">

                  <%= render "user_mailer/onboarding/logo" %>

                  <%= render "user_mailer/onboarding/title",  title: "Votre profil sur Parentheze :",
                                                  text: "Nous n'avons pas pu valider votre profil, veuillez saisir les champs manquants suivants ou modifier les informations suivantes :" %>

                  <div>
                    <div style="padding-bottom:24px;">
                      <table style="border-spacing:0;border-collapse:collapse;text-align:left;vertical-align:top;padding:0;width:100%;display:table;">
                        <tbody>
                          <tr style="padding:0;vertical-align:top;text-align:left;">
                            <th style="font-size:16px;text-align:left;line-height:1.3;color:#0a0a0a;font-weight:normal;padding:0;width:564px;margin:0 auto;padding-left:16px;padding-right:16px;padding-bottom:0px!important;">
                                <strong>
                                <p style="padding:0;margin:0;line-height:1.4;font-weight:300;color:red;font-size:18px;text-align:left;margin-bottom:0px!important;">
                                  <%= ("Prénom parent 1 : " + (@profile["mother_first_name"] ? @profile["mother_first_name"].capitalize : "")) if @params[:parent1].present? %></p>
                                <p style="padding:0;margin:0;line-height:1.4;font-weight:300;color:red;font-size:18px;text-align:left;margin-bottom:0px!important;">
                                  <%= ("Prénom parent 2 : " + (@profile["father_first_name"] ? @profile["father_first_name"].capitalize : "")) if @params[:parent2].present? && @profile["father_first_name"].present? %></p>
                                <p style="padding:0;margin:0;line-height:1.4;font-weight:300;color:red;font-size:18px;text-align:left;margin-bottom:0px!important;">
                                  <%= ("Nombre d'enfant : " + (@profile["kids"] ? @profile["kids"].to_s : "")) if @params[:kids].present? %></p>
                                <p style="padding:0;margin:0;line-height:1.4;font-weight:300;color:red;font-size:18px;text-align:left;margin-bottom:0px!important;">
                                    <%= ("Adresse : " + (@profile["address"] ? @profile["address"].to_s : "")) if @params[:address].present? %></p>
                                <p style="padding:0;margin:0;line-height:1.4;font-weight:300;color:red;font-size:18px;text-align:left;margin-bottom:0px!important;">
                                  <%= ("Photo non adéquate") if @params["photo"].present? %></p>
                            </th>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>

                  <%= render "user_mailer/onboarding/calltoaction", btn_text: "Mettre à jour votre profil", link: @url %>

                  <%= render "user_mailer/onboarding/bigphoto", photo: "https://res.cloudinary.com/doodlid/image/upload/v1518988207/parentheze/polaroid_mail_photo03.png" %>

                  <%= render "user_mailer/onboarding/footer" %>

                  </td>
                </tr>
              </tbody>
            </table>
          </center>
        </td>
      </tr>
    </tbody>
  </table>
</div>
