<div class="flex-parent"> <!-- for IE bug -->
  <div class="fullscreen relative flexbox text-left" style="background-image: linear-gradient(0deg, rgba(10,10,10,0.5) 0%, rgba(10,10,10,0.5) 100%), url(<%= t('profiles.shared.inscription-bg') %>)">
    <div class="parentheze-login">
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>
        <div class="login-box">
          <div class="login-fields-small">
            <h3><%= t(".forgot_your_password") %></h3>

            <%= f.input :email, required: true, autofocus: true, label: t('.field') %>

          </div>

          <div class="form-actions text-center">
            <%= f.button :submit, t(".send_me_reset_password_instructions"), class:"margin-bottom-small" %>
          </div>
          <p><%= t('.details') %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
