<div class="flexbox" id="cookie-label">
  <div class="flex-horizontal">
    <div class="margin-bottom-medium">
      <%= image_tag t('commons.cookie.image') %>
    </div>
    <div>
      <p><%= t('commons.cookie.text') %></p>
      <p><strong><span id="continue"> <%= t('commons.cookie.button1_text') %></span></strong><strong><span id="know-more"><%= t('commons.cookie.button2_text') %></span></strong></p>
    </div>
    <div>
      <i class="fa fa-times"></i>
    </div>
  </div>
</div>

<%= content_for :after_js do %>
  <!-- <script>
    $(document).ready(function(){
      $('#continue').on('click', function(){
        $("#cookie-label").addClass('slideDown');
      })
    })
  </script> -->
<% end %>
