<%= link_to root_path do %>
  <div class="profile-card">
    <div class="profile-card-portrait" style="background-image: url('<%= cl_image_path "parentheze/profile-card-invitation2.png" %>')">
    </div>
    <div class="profile-card-description text-center">
      <h5 class="name"><%= t('.title') %></h5>
      <h5 class="reputation"><%= t('.reputation') %></h5>
      <h5 class="reputation"><%= t('.distance') %></h5>
    </div>
  </div>
<% end %>
