<div class="contact-form black-on-white center">
  <div class="container">
    <%= simple_form_for :guest, url: guest_path(@guest), method: :patch do |f| %>
    <div class="row">
        <div class="contact-message no-header col-12 col-sm-7" style="background-image:url('<%= t('.image') %>')">
        </div>
        <div class="contact-identity no-header col-12 col-sm-5">
          <div class="contact-header"></div>
          <p><%= t('.title') %></p>
          <div class="bar"></div>
          <p> <%= t('.identity.field1') %></p>
          <%= f.input :email, label: false, input_html: {value: session[:contact_email] || "", class:"email-field"} %>
          <p class="red" id="hidden-error"> <%= t('.identity.field1_error') %></p>
          <%= f.button :submit, value: t('.btn_text'), data: { disable_with: "" }, class:"contact-button", id: "submit_mail" %>
        </div>
    </div>
    <% end %>
  </div>
</div>
