<div class="fullscreen relative flexbox" style="background-image: url(<%= image %>)" id=<%= id %>>
  <div class="<%= id %>">
    <h1 class=""><%= title %></h1>
    <h4 class="margin-bottom-medium"><%= text %></h4>
    <%= render 'scroller', target_page: target_page, link_image: link_image %>
  </div>
</div>
