<div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 col-lg-offset-1 padding-box  ">
  <div class="plan-card flex-column flex-between padding-box <%= "emergency" if plan[0] == :plan3  %>">
    <div class="full-width">
      <h1 style="color: <%= plan[1][:color] %>"><%= plan[1][:price] %></h1>
      <h3><%= plan[1][:title] %></h3>
    </div>
    <h5 class="full-width"><%= plan[1][:subtitle] %></h5>
  </div>
</div>
