 <div class="flex-parent"> <!-- for IE bug -->
  <div class="fullscreen relative flexbox white-on-purple" style="background-image: url(<%= slide[:image] %>)" id="slide<%= id %>">
    <div class="slide<%= id %>">
      <h1 class=""><%= slide[:title] %></h1>
      <h5 class="margin-bottom-medium"><%= slide[:text] %></h5>
      <div class="margin-bottom-medium">
        <% if slide[:link_image] %>
          <%= render 'scroller', target_page: target_page, link_image: slide[:link_image] %>
        <% else %>
          <%= link_to slide[:button_text], "#"<<target_page , class:"btn btn-yellow flexbox btn-large center scroll" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
