<div class="fullscreen relative flexbox" style="background-image: url(<%= image %>)" id=<%= id %>>
  <h1 class="<%= id %>"><%= text %></h1>
  <%= render 'shared/scroller', target_page: target_page, icon: "fa-arrow-circle-down" %>
</div>
