<div class="container-fluid" id=<%= "slide#{id}" %> >
  <div class="row">
    <div style="background-image: url(<%= slide[:image] %>)" class="full-height col-xs-12 col-md-6"></div>
    <div class="col-xs-12 col-md-6 full-height flex-parent black-on-white double-padding-box">
      <div class="flexbox">
        <div class="full-width">
          <h1 class=""><%= slide[:title] %></h1>
          <div class="margin-bottom-medium">
            <% slide[:text].each do |text| %>
              <p><%= text[1] %></p>
            <% end %>
          </div>
          <%= render 'scroller', target_page: target_page, link_image: slide[:link_image]  %>
        </div>
      </div>
    </div>
  </div>
</div>
