<div class="fullscreen relative flexbox" style="background-image: url(<%= image %>)" id=<%= id %>>
  <div class="<%= id %>">
    <h1 class=""><%= title %></h1>
    <h4 class="margin-bottom-medium"><%= text %></h4>
    <% if button_text %>
      <%= link_to button_text, "#"+target_page , class:"btn btn-yellow flexbox large center scroll" %>
    <% end %>
    <% if link_image %>
      <%= render 'shared/scroller', target_page: target_page, link_image: link_image %>
    <% end %>
  </div>
</div>
