<div class="fullscreen relative flexbox" style="background-image: url(<%= image %>)" id=<%= id %>>
  <div class="<%= id %>">
    <h1 class="center"><%= title %></h1>
    <h4 class="center margin-bottom-medium"><%= text %></h4>
    <%= render 'shared/scroller', target_page: target_page,  step_btn: step, link_image: link_image %>
  </div>
</div>
