<div class="container-fluid" id=<%= id %>>
  <div class="row">
    <div style="background-image: url(<%= image %>)" class="full-height col-xs-12 col-md-6"></div>
    <div class="col-xs-12 col-md-6 full-height flex-column black-on-white double-padding-box">
      <div>
        <h1 class=""><%= title %></h1>
        <h4 class="margin-bottom-medium"><%= text %></h4>
        <%= render 'shared/scroller', target_page: target_page, link_image: link_image %>
      </div>
    </div>
  </div>
</div>
