<div class="container-fluid fullscreen flexbox text-center" id="inscription-beta" >
  <div class="container">
    <h1><%= t('home.slide_calltoaction.title') %></h1>
    <p class="margin-bottom-medium"><%= t('home.slide_calltoaction.text') %></p>
    <div class="inscription-wrapper center margin-bottom-medium">
      <%= simple_form_for :guest, url: guest_path(@guest), method: :patch do |f| %>
        <p class=" margin-bottom-medium">
         <label class="checkbox">
           <input type="checkbox" class="boolean optional" checked="checked" id="bordelais" name="guest[bordelais]" value="1" />
           <label for="bordelais"><%= t('home.slide_calltoaction.checkbox') %></label>
         </label>
        </p>
        <%= f.input :email, label: false, placeholder: t('placeholder.email') %>
        <%= f.button :submit, value: t('commons.register'), data: { disable_with: "" } %>
      <% end %>
    </div>
    <%= render 'shared/scroller', target_page: "slide0", link_image: t('home.slide_calltoaction.link_image'), step: 6 %>
  </div>
</div>
