<div class="container-fluid full-width black-on-white flex-parent padding-box padding-top-bot"> <!-- for IE bug -->
  <div class="fullscreen flexbox" id=<%= 'slide_manifeste'+index.to_s %>>
    <div class="row full-width">
      <div class="col-12 text-center center d-block d-md-none">
        <%= image_tag(slide[:image]) %>
      </div>
      <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <h2><%= image_tag(slide[:image], class: "image_for_title d-none d-md-block") %><%= slide[:title] %></h2>
      </div>
      <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-md-3">
        <h4 class="margin-bottom-medium"><%= slide[:text] %></h4>
      </div>
      <div class="col-12 col-md-12 text-center">
      <%= render 'scroller', target_page: target_page, link_image: "https://res.cloudinary.com/doodlid/image/upload/c_scale,w_60/e_colorize:100/v1512466553/parentheze/btn_oui_blue_oxcch8.png" %>
      </div>
    </div>
  </div>
</div>
