<div class="fullscreen relative flexbox" style="background-image: url(<%= image %>)" id=<%= id %>>
  <div class="<%= id %>">
    <h1 class="center"><%= title %></h1>
    <h4 class="center"><%= text %></h4>
  </div>
  <%= render 'shared/scroller', target_page: target_page, icon: "fa-arrow-circle-down" %>
</div>
