<% content_for :title_tag do t('.title') end %>

<div class="home">

  <%= render partial: "slide", locals: { slide: @slides.values[0], id: 0, target_page: "slide1" } %>

  <%= render partial:'slide_with_split', locals: { slide: @slide_split[:slide0], id: 1, target_page: "slide2" } %>

  <%= render partial:'slide_plan', locals: { slide: @slide_plan, id: 2, target_page: "slide3" } %>

  <%= render partial:'slide_with_split', locals: { slide: @slide_split[:slide1], id: 3, target_page: "inscription-beta" } %>

  <%= render 'slide_subscription' %>

  <%= render 'shared/footer', target_page: "slide1" %>
</div>
