<% content_for :title_tag do t('metas.titles.home') end %>

<div class="home">

  <%= render partial: "slide", locals: { slide: @slides.values[0], index: 0, target_page: "slide1" } %>

  <%= render partial:'slide_with_split', locals: { slide: @slide_shows.values[0], index: 1, target_page: "slide2" } %>

  <div class="flex-parent">
    <div class="container-fluid fullscreen text-center flexbox slide-plan" id="slide2">
        <div class="plans">
          <h2><%= @slide_plan[:title] %></h2>
          <p class="yellow"><%= t('home.slide_plan.text') %></p>
          <div class="margin-bottom-medium">
            <div class="row">
              <% @slide_plan[:plans].each do |plan| %>
                <%= render 'plans', plan: plan %>
              <% end %>
          </div>
        </div>
        <%= render 'shared/scroller', target_page: "slide3", link_image: t('home.slides.slide0.link_image') %>
      </div>
    </div>
  </div>
</div>

  <%= render partial:'slide_with_split', locals: { slide: @slide_shows.values[1], index: 3, target_page: "inscription-beta" } %>

  <%= render 'slide_subscription' %>
</div>
