<% content_for :title_tag do t('metas.titles.home') end %>

<div class="home">

  <% t('home.slides').length.times do |x| %>
    <% xstring = x.to_s %>
    <%= render "slide", target_page: "slide"+(xstring.to_i+1).to_s, id: "slide"+xstring ,  title: t('home.slides.slide'+xstring+'.title'), text: t('home.slides.slide'+xstring+'.text'), image: t('home.slides.slide'+xstring+'.image') %>
  <% end %>

  <div class="minfullscreen stretch relative flex-column center text-center padding-box slide_plan" id=<%= "slide"+t('home.slides').length.to_s %>>
    <h2><%= t('home.slide_plan.title') %></h2>
    <p class="margin-bottom-medium"><%= t('home.slide_plan.text') %></p>
    <div class="container">
      <div class="row">
        <% t('plans').length.times do |x| %>
        <% xstring = x.to_s %>
        <div class="col-xs-12 col-md-3 padding-box">
          <div class="plan-card flex-column between padding-box <%= "emergency" if x == t('plans').length - 1 %>">
            <div>
              <h1 style="color: <%= t('plans.plan'+xstring+'.color') %>"><%= t('plans.plan'+xstring+".price") %></h1>
              <h3><%= t('plans.plan'+xstring+".title") %></h3>
            </div>
            <p><%= t('plans.plan'+xstring+".subtitle")  %></p>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <%= render 'shared/scroller', target_page: "slide_calltoaction", icon: "fa-arrow-circle-down" %>
  </div>

  <div class="fullscreen relative flex-column center text-center" id="slide_calltoaction" >
    <div class="container">
      <h1><%= t('home.slide_calltoaction.title') %></h1>
      <p class="margin-bottom-medium"><%= t('home.slide_calltoaction.text') %></p>
      <div class="inscription-wrapper center">
        <%= simple_form_for @guest do |f| %>
          <%= f.input :email, label: false, placeholder: t('placeholder.email') %>
          <%= f.button :submit, value: t('commons.register'), data: { disable_with: "" } %>
        <% end %>
      </div>
      <%= render 'shared/scroller', target_page: "slide0", icon: "fa-arrow-circle-up" %>
    </div>
  </div>

</div>
