<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, minimum-scale=1, maximum-scale=1">
    <title><%= yield(:title_tag).blank? ? t('metas.title.generic') : yield(:title_tag) %></title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <% if Rails.env.production? %>
      <%= analytics_init if GoogleAnalytics.valid_tracker? %>
    <% end %>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <% if Rails.env.production? %>
      <h1>EN PRODUCTION</h1>
    <% end %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
